/* 모달 창 스타일 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%; /* 너비를 3분의 1로 설정 */
    height: 50%;
  }
  
  .modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
  }
  
  .modal-content button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .fa {
    display: flex;          /* Use flexbox for layout */
    justify-content: center;/* Center align horizontally */
    align-items: center;    /* Center align vertically */
    width: 70px;
    height: 36px;
    text-align: center;
    padding-left: 10px;
    box-sizing: border-box;
  }
  
  .nav-text {
    display: table-cell;
    vertical-align: middle;
    width: 250px;
  }
  
  .main-menu:hover,
  nav.main-menu.expanded {
    width: 300px;
    overflow: hidden;
    opacity: 1;
  }
  
  .main-menu {
    background-color: #fff;
    box-sizing: border-box; /* 패딩과 테두리를 전체 너비와 높이에 포함 */
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    overflow-y: auto;
    overflow: hidden;
    -webkit-transition: width 0.2s linear;
    transition: width 0.2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.119);
    opacity: 1;
    box-sizing: border-box;
  }
  
  .darkerlishadow {
    padding-bottom: 10px;
  }
  
  .scroll-first {
    padding-top: 10px;
  }
  
  .main-menu > ul {
    margin: 7px 0;
    margin-left: 10px;
  }
  
  .main-menu li {
    position: relative;
    display: block;
  }
  
  .main-menu li > a {
    position: relative;
    width: 300px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #4E5968;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all 0.14s linear;
    transition: all 0.14s linear;
    text-shadow: 1px 1px 1px #fff;
    cursor: pointer;
  }
  
  .main-menu .fb-like {
    left: 180px;
    position: absolute;
    top: 15px;
  }
  